<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/add.css}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/ad4433a74f.js" crossorigin="anonymous"></script>
    <title>Add Series</title>

</head>
<body>
<h1>Add Series</h1>

<form th:action="@{/series/addSeries}" method="post" th:object="${series}">
    <section class="admin-section">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" th:field="*{title}" required>
    </section>

    <section class="admin-section">
        <label for="description">Description:</label>
        <textarea id="description" name="description" th:field="*{description}" required></textarea>
    </section>

    <section class="admin-section">
        <label for="releaseYear">Release Year:</label>
        <input type="number" id="releaseYear" name="releaseYear" th:field="*{releaseYear}" required>
    </section>

    <section class="admin-section">
        <label for="rating">Rating:</label>
        <input type="number" step="0.1" id="rating" name="rating" th:field="*{rating}" required>
    </section>

    <section class="admin-section">
        <label for="imageurl">Image URL:</label>
        <input type="text" id="imageurl" name="imageurl" th:field="*{imageurl}" required>
    </section>

    <section class="admin-section">
        <label for="creator">Creator:</label>
        <input type="text" id="creator" name="creator" th:field="*{creator}" required>
    </section>

    <section class="admin-section">
        <label for="trailer">Trailer URL:</label>
        <input type="text" id="trailer" name="trailer" th:field="*{trailer}" required>
    </section>

    <button type="submit">Add Series</button>
</form>
</body>
</html>