<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/adminindex.css}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/ad4433a74f.js" crossorigin="anonymous"></script>
    <title>MovieApp</title>

</head>
<body>
<header class="main-header">
    <div class="menu">
        <a href="/home" class="logo">
            <span class="logo-mini">
                <i class="fa-solid fa-film fa-lg" style="color: #ff0000;" id="movieIcon">MovieApp</i>
            </span>
        </a>
        <ul>
            <li>
                <a title="Home" href="/home" aria-current="page">Home</a>
            </li>
            <li>
                <a title="Series" href="/series">Series</a>
            </li>
            <li>
                <a title="Movies" href="/movie">Movies</a>
            </li>
            <li class="login-register-user">
                <div class="login">
                    <a>
                        Hello, <span th:text="${#authentication.name}"></span>
                    </a>
                </div>
                <div class="register">
                    <a title="Log Out" href="/logout">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</header>

<section class="admin-section">
    <h2>Users</h2>
    <div class="delete-button">
        <a class="admin-button" href="/allUsers">Show All Users</a>
        <form th:action="@{/users/delete}" method="post">
            <button type="submit">Delete User</button>
            <input type="number" name="userId" placeholder="User ID">
        </form>
    </div>
</section>

<section class="admin-section">
    <h2>Movies</h2>
    <div class="delete-button">
        <a class="admin-button" href="/movie">Show All Movies</a>
        <form th:action="@{/movie/delete}" method="post" >
            <button type="submit">Delete Movie</button>
            <input type="number" name="movieId" placeholder="Movie ID">
        </form>
        <a class="admin-button" href="/movie/addMovie">Add movie</a>
    </div>

</section>

<section class="admin-section">
    <h2>Series</h2>
    <div class="delete-button">
        <a class="admin-button" href="/series">Show All Series</a>
        <form th:action="@{/series/delete}" method="post">
            <button type="submit">Delete Series</button>
            <input type="number" name="seriesId" placeholder="Series ID">
        </form>
        <a class="admin-button" href="/series/addSeries">Add Series</a>
    </div>
</section>

<section class="admin-section">
    <h2>Genres</h2>
    <div class="delete-button">
        <a class="admin-button" href="/genre/show">Show All Genres</a>
        <form th:action="@{/genre/delete}" method="post">
            <button type="submit">Delete Genre</button>
            <input type="number" name="genreId" placeholder="Genre ID">
        </form>
        <form th:action="@{/genre/save}" method="post">
            <button type="submit">Add Genre</button>
            <input type="text" name="text" placeholder="Genre name">
        </form>
    </div>
</section>