<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/ad4433a74f.js" crossorigin="anonymous"></script>
    <title>MovieApp</title>
    <style>
        body {
        background-color: rgb(32, 35, 37);
        color: rgb(200, 195, 188);
    }
    </style>
</head>
<body>
<header class="main-header">

    <div class="menu">
        <a href="/home" class="logo">
        <span class="logo-mini">
           <i class="fa-solid fa-film fa-lg" style="color: #ff0000;" id="movieIcon">
               MovieApp
           </i>
        </span>
        </a>
        <ul>
            <li>
                <a title="Home" href="/home" aria-current="page">Home</a>
            </li>

            <li>
                <a title="Series" href="/series">Series</a>
            </li>

            <li>
                <a title="Movies" href="/movie">Movies</a>
            </li>

            <li class="login-register-user">
                <div class="login">
                    <a>
                        Hello, <span th:text="${#authentication.name}"></span>
                    </a>
                </div>
                <div class="register">
                        <a title="Log Out" href="/logout">Log Out</a>
                </div>
            </li>

        </ul>
    </div>

</header>
<h1>Popular Movies:</h1>
<div class="movie-container">
    <div th:each="movie : ${movies}" class="movie-box">
        <a th:href="@{/movie/{movieId}/{movieTitle}(movieId=${movie.id}, movieTitle=${movie.title})}">
            <div class="movie-content">
                <img class="movie-images" th:src="@{'/images/' + ${movie.imageurl}}" alt="Movie Photo">
                <h2 class="movie-title" th:text="${movie.title}">Movie Title</h2>
            </div>
        </a>
    </div>
</div>
<h1>Popular Series:</h1>
<div class="movie-container">
    <div th:each="series : ${serieses}" class="movie-box">
        <a th:href="@{/series/{seriesId}/{seriesTitle}(seriesId=${series.id}, seriesTitle=${series.title})}">
            <div class="movie-content">
                <img class="movie-images" th:src="@{'/images/' + ${series.imageurl}}" alt="Series Photo">
                <h2 class="movie-title" th:text="${series.title}">Series Title</h2>
            </div>
        </a>
    </div>
</div>

</body>
</html>

