<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href=" style.css">
    <title>asd</title>
</head>
<body>
<header class="main-header">
    <a href="/" class="logo">
        <span class="logo-mini">
           <i class="fa-solid fa-film fa-lg" style="color: #ff0000;" id="movieIcon">
               MovieApp
           </i>
        </span>
    </a>
    <nav class="navigationBar">
        <a href="" class="sidebar-toggle" role="button">
            <span class="slideBars">
              <i class="fa-solid fa-bars fa-lg"></i>
                </span>
        </a>
    </nav>
</header>
</body>
<script src="https://kit.fontawesome.com/ad4433a74f.js" crossorigin="anonymous"></script>

</html>

