<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/index.css}" rel="stylesheet" type="text/css">

    <script src="https://kit.fontawesome.com/ad4433a74f.js" crossorigin="anonymous"></script>
    <title>Movie Details</title>
    <style>
        body {
            background-color: rgb(32, 35, 37);
            color: rgb(200, 195, 188);
        }
    </style>
</head>
<body>
<header class="main-header">
    <div class="menu">
        <a href="/" class="logo">
            <span class="logo-mini">
                <i class="fa-solid fa-film fa-lg" style="color: #ff0000;" id="movieIcon">
                    MovieApp
                </i>
            </span>
        </a>
        <ul>
            <li>
                <a title="Home" href="/" aria-current="page">Home</a>
            </li>
            <li>
                <a title="Series" href="/series">Series</a>
            </li>
            <li>
                <a title="Movies" href="/movie">Movies</a>
            </li>
            <li>
                <div class="search-container" style="width: 1100px;">
                    <input type="text" class="search-input" placeholder="Search...">
                    <button class="search-button">Search</button>
                </div>
            </li>
            <li class="login-register">
                <div>
                    <li>
                        <a title="LogIn" href="/login">Log In</a>
                    </li>
                    <li>
                        <a title="Register" href="/register">Register</a>
                    </li>
                </div>
            </li>
        </ul>
    </div>
</header>


<div class="movie-details" th:each="movie : ${movies}">
    <h1 th:text="${movie.title}">Movie Title</h1>
    <img class="movie-image" th:src="@{'/images/' + ${movie.imageurl}}" alt="Movie Photo">
    <p class="movie-description" th:text="${movie.description}">
        Movie description
    </p>
    <p class="movie-director" th:text="${movie.creator}">
        Director: John Doe
    </p>
    <p class="movie-release" th:text="${movie.releaseYear}">
        ReleaseYear
    </p>
    <p class="movie-rating" th:text="${movie.rating}">
        Rating
    </p>
    <p class="movie-genre" th:text="${movie.movieGenres}">
        Genre: Action, Drama
    </p>
</div>
</body>
</html>
