<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/index.css}" rel="stylesheet" type="text/css">
    <script src="https://kit.fontawesome.com/ad4433a74f.js" crossorigin="anonymous"></script>
    <title>MovieApp - All Movies</title>

</head>
<body>
<header class="main-header">
    <div class="menu">
        <a href="/home" class="logo">
            <span class="logo-mini">
                <i class="fa-solid fa-film fa-lg" style="color: #ff0000;" id="movieIcon">
                    MovieApp
                </i>
            </span>
        </a>
        <ul>
            <li>
                <a title="Home" href="/home" aria-current="page">Home</a>
            </li>
            <li>
                <a title="Series" href="/series">Series</a>
            </li>
            <li>
                <a title="Movies" href="/movie">Movies</a>
            </li>

            <li class="login-register-user">
                <div class="login">
                    <a>
                        Hello, <span th:text="${#authentication.name}"></span>
                    </a>
                </div>
                <div class="register">
                    <a title="Log Out" href="/logout">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</header>
<div class="genres-box">
    <h2>Genres</h2>
    <ul class="genres-list">
        <li><a href="/movie/Action">Action</a></li>
        <li><a href="/movie/Adventure">Adventure</a></li>
        <li><a href="/movie/Animation">Animation</a></li>
        <li><a href="/movie/Comedy">Comedy</a></li>
        <li><a href="/movie/Crime">Crime</a></li>
        <li><a href="/movie/Documentary">Documentary</a></li>
        <li><a href="/movie/Drama">Drama</a></li>
        <li><a href="/movie/Fantasy">Fantasy</a></li>
        <li><a href="/movie/Horror">Horror</a></li>
        <li><a href="/movie/Romance">Romance</a></li>
        <li><a href="/movie/Thriller">Thriller</a></li>
        <li><a href="/movie/War">War</a></li>
        <li><a href="/movie/Western">Western</a></li>
    </ul>
</div>
<h1>All Movies:</h1>
<div class="movie-container">
    <div th:each="movie : ${movies}" class="movie-box">
        <a th:href="@{/movie/{movieId}/{movieTitle}(movieId=${movie.id}, movieTitle=${movie.title})}">
            <div class="movie-content">
                <img class="movie-images" th:src="@{'/images/' + ${movie.imageurl}}" alt="Movie Photo">
                <h2 class="movie-title" th:text="${movie.title}">Movie Title</h2>
            </div>
        </a>
    </div>
</div>
</body>
</html>
