<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/series.css}" rel="stylesheet" type="text/css">

    <script src="https://kit.fontawesome.com/ad4433a74f.js" crossorigin="anonymous"></script>
    <title>Series Details</title>

</head>
<body>
<header class="main-header">
    <div class="menu">
        <a href="/" class="logo">
            <span class="logo-mini">
                <i class="fa-solid fa-film fa-lg" style="color: #ff0000;" id="movieIcon">
                    SeriesApp
                </i>
            </span>
        </a>
        <ul>
            <li>
                <a title="Home" href="/" aria-current="page">Home</a>
            </li>
            <li>
                <a title="Series" href="/series">Series</a>
            </li>
            <li>
                <a title="Movies" href="/movie">Movies</a>
            </li>

            <li class="login-register">
                <div class="login">
                    <a>
                        Hello, <span th:text="${#authentication.name}"></span>
                    </a>
                </div>
                <div class="register">
                    <a title="Log Out" href="/logout">Log Out</a>
                </div>
            </li>
        </ul>
    </div>
</header>

<div class="series-details" th:each="series : ${serieses}">
    <img class="series-image" th:src="@{'/images/' + ${series.imageurl}}" alt="Series Photo">
    <div class="series-info">
        <h1 th:text="${series.title}">Series Title</h1>
        <p class="series-creator" th:text="${series.creator}">
            Director: John Doe
        </p>
        <p class="series-release" th:text="${series.releaseYear}">
            Release Year
        </p>
        <p class="series-rating" th:text="${series.rating}">
            Rating
        </p>
        <p class="series-genre" th:text="${series.seriesGenres}">
            Genre: Action, Drama
        </p>
        <h1>
            <p class="series-description" th:text="${series.description}">
                Series description
            </p>
        </h1>
        <iframe class="series-trailer-iframe" th:src="${series.trailer}" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
        </iframe>
    </div>
</div>
</body>
</html>
